<h1>People</h1>
<% @animsIndex.each do |e| %>
  <h2>Name: <%= e.name %></h2>
  <p>Remarks: <%= e.remarks %></p>
  <br>
  <%= link_to 'See Person', anim_path(e) %>
  <br>
  <%= link_to 'Edit Person', edit_anim_path(e) %>
  <br>
  <p><%= link_to 'New Person', new_anim_path %></p>
<% end %>